
.topnav {
    background-color: #005e2c;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-top: 50px;
    text-decoration: none;
    font-size: 30px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 240px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .rij {
    display: flex;
    justify-content: space-evenly;
  }
  div {
    padding-bottom: 50px;

  }
  .footnote {
    background-color: #005e2c;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  #textoverons{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    
  }